@use "../../_styles/global/index" as style;

.container {
  margin-top: 92px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: 10%;
  font-size: 20px;
}

.headdiv {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sector1{
  @include style.LatoFont;
}

.sector2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  max-width: 35%;
}

.lowerSector {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  p {
    color: style.$primary-black;
    transition: .4s;
    &:hover {
      color: style.$green;
      transition: .4s;
    }
  }
}

.infoPictures {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 25px;
  h1 {
    @include style.LatoFont;
  }
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pictures {
  position: relative;
  display: flex;
  margin-top: 40px;
  max-width: 950px;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 50px -5px rgba(150, 231, 29, 0);
  }
  40% {
    box-shadow: 0 0 50px -5px rgba(150, 231, 29, 100);
  }
  100% {
    box-shadow: 0 0 50px -5px rgba(150, 231, 29, 0);
  }
}

.cabin {
  border-radius: 15px;
  animation: pulse 5s infinite;
}


.men {
  position: absolute;
  bottom: 20px;
  left: -15%;
  height: 250px;
  border: 1px solid style.$white;
  border-radius: 15px;
}