@use "../../_styles/global/index" as style;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 10%;
  background-color: style.$primary-black;
  font-size: 20px;

  img {
    height: 50px;
  }

}

.navigate {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 10px;
  width: 40%;
  button {
    background-color: style.$primary-black;
    border: none;
    border-bottom: 1px inset transparent;
    padding-inline: 5px;
    color: white;
    min-width: 100px;
    transition: .4s;

    &:hover {
      border-bottom: 1px inset style.$green;
      transition: .2s;
    }
  }
}