@use "../../src/_styles/global/index" as style;
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @include style.SanFont;
  background-color: white;
  cursor: default ;
  scrollbar-gutter: auto; /* I tried rest of all values*/

  &::-webkit-scrollbar {
    width: 7px;
    display: block;
  }

  &::-webkit-scrollbar-track {
    background: style.$primary-black;
  }

  &::-webkit-scrollbar-thumb {
    background-color: style.$green;
    border-radius: 50px;
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
}


