@use "../../_styles/global/index" as style;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
  background-color: white;
  height: 100vh;
}

.caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    margin: 20px;
    @include style.LatoFont;
    color: style.$primary-black;
  }
  p {
    max-width: 60%;
    color: style.$secondary-gray;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  gap: 40px;
}